html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #b030b0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

header{
  display: flex;
  margin: 0px 20px 0px 20px;
  color: white;
}

header nav{
  padding: 10px;
  flex-grow: 3;
  max-width: 400px;
}

#top-nav{
  display: flex;
  justify-content: space-around;
}

#top-nav p{
  
}

#top-logo{
  padding: 10px;
  flex-grow: 2;
}

#main-screen{
  background-color: #202040;
  height: calc(100% - 70px);
}

#main-title{
  position: absolute;
  margin: 0;
  padding: 20px;
  color: white;
  font-size: 5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#searchbar{
  background-color: #b030b0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  width: 40%;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.search-btn{
  float: right;
  height: 40px;
  justify-content: center;
  padding-top: 5px;
}

.search-text{
  border: none;
  background-color: transparent;
  outline: none;
  transition: 0.4s;
  line-height: 40px;
  width: 80%;
  color: white;
  font-size: 16px;
}

.search-text::placeholder{
  color: white;
  opacity: 0.8;
  font-size: 16px;
}

#particles-js{
  width: 100%;
  height: calc(100% - 70px);
  position: absolute;
  opacity: 0.7;
}

#page-wrap{
  padding: 0 15% 0 15%;
  position: relative;
}

#popular-tools{
  position: absolute;
  background-color: white;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 30%;
}

#popular-tools p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.pt-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.pt-container div{
  min-width: 200px;
  width: 20%;
  background-color: #602080;
  height: 90%;
  border-radius: 20px;
}
